name: Upload artifacts to Zenodo

on:
  push:
  # pull_request:

jobs:
  zenodo_upload:
    name: zenodo upload
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      TZ: America/New_York

    steps:
      - name: Set env vars
        run: |
          export ZENODO_TOKEN=${{ secrets.ZENODO_TOKEN }}
          echo "ZENODO_TOKEN=${ZENODO_TOKEN}" >> $GITHUB_ENV

          export GHA_TOKEN=${{ secrets.GHA_TOKEN }}
          echo "GHA_TOKEN=${GHA_TOKEN}" >> $GITHUB_ENV

      - name: checkout the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: pip-install dependencies
        run: |
          python3 -m pip install requests

      - name: download artifacts
        run: |
          set -vxeuo pipefail

          # #
          # # Artifacts from https://github.com/nsls2-conda-envs/nsls2-collection/actions/runs/7603753363
          # #

          # # https://github.com/nsls2-conda-envs/nsls2-collection/actions/runs/7603753363/artifacts/1184244620
          # bash ${GITHUB_WORKSPACE}/download-artifacts.sh nsls2-collection 1184244620 2024-1.0-py310

          # # https://github.com/nsls2-conda-envs/nsls2-collection/actions/runs/7603753363/artifacts/1184244622
          # bash ${GITHUB_WORKSPACE}/download-artifacts.sh nsls2-collection 1184244622 2024-1.0-py311

          #
          # Artifacts from https://github.com/nsls2-conda-envs/nsls2-collection-tiled/actions/runs/8973247394
          #

          # https://github.com/nsls2-conda-envs/nsls2-collection-tiled/actions/runs/8973247394/artifacts/1477366915
          bash ${GITHUB_WORKSPACE}/download-artifacts.sh nsls2-collection-tiled 1477366915 2024-1.0-py310-tiled

          # https://github.com/nsls2-conda-envs/nsls2-collection-tiled/actions/runs/8973247394/artifacts/1477371389
          bash ${GITHUB_WORKSPACE}/download-artifacts.sh nsls2-collection-tiled 1477371389 2024-1.0-py311-tiled

      - name: Upload artifacts to Zenodo
        run: |
          python3 upload-artifacts.py
